:host {
  display: block;
  margin: 0.5rem 0;
}

.card-progress-track {
  height: 1rem;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(85, 157, 0, 1) 0%,
    rgba(149, 36, 255, 1) 51%,
    rgba(40, 151, 207, 1) 100%
  );
  border-radius: 20px;
  display: flex;
}

.step {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
}

.current-step {
  height: 1.5rem;
  margin-top: -0.25rem;
  width: 3px;
  background-color: white;
  border-radius: 20px;
}
