:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px 20px;
    cursor: pointer;

    &.active {
      color: var(--accent-color);
    }
  }
}
