<div class="menu-group">
  <div routerLink="/learn" routerLinkActive="active">
    <mat-icon>school</mat-icon> Learn
  </div>
  <div routerLink="/collections" routerLinkActive="active">
    <mat-icon>style</mat-icon> Collections
  </div>
</div>

<div class="menu-group">
  <div *ngIf="isDarkMode; else lightModeSwitch" (click)="toggleMode()">
    <mat-icon>dark_mode</mat-icon> Switch to light mode
  </div>
  <div routerLink="/settings" routerLinkActive="active">
    <mat-icon>settings</mat-icon> Settings
  </div>
</div>

<ng-template #lightModeSwitch>
  <div (click)="toggleMode()">
    <mat-icon>light_mode</mat-icon> Switch to dark mode
  </div>
</ng-template>
