<chf-collection-header [label]="collection?.label" [cardCount]="dataSource.data.length" />

<chf-card-search (searchChange)="onFilterChange($event)" />

<div class="table-wrapper">
  <mat-table
    [dataSource]="dataSource"
    matSort
    matSortActive="meanings"
    matSortDirection="asc"
  >
    <ng-container matColumnDef="meanings">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Meanings</mat-header-cell>
      <mat-cell class="meaning-column" *matCellDef="let card">
        <span [innerHTML]="card.meanings | cardMeanings"></span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pinyin">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Pinyin</mat-header-cell>
      <mat-cell class="pinyin-column" *matCellDef="let card">
        {{ card.pinyin }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="characters">
      <mat-header-cell class="character-column" *matHeaderCellDef>
        Char.
      </mat-header-cell>
      <mat-cell class="character-column" *matCellDef="let card">
        {{ card.characters }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns; sticky: true" />
    <mat-row
      [class.selected]="selectedCards.includes(row)"
      [class.archived]="row.archived"
      *matRowDef="let row; columns: columns"
      chfLongPress
      (longPress)="startMultiselect()"
      (click)="rowClicked(row)"
    />
  </mat-table>

  <mat-paginator [pageSize]="pageSize" hidePageSize showFirstLastButtons />
</div>

@if (selectedCards.length) {
  <div class="card-selected-message">
    <span>{{ selectedCards.length }} selected</span>
  </div>
}
