:host {
  position: relative;
}

$navbarHeight: 60px;
$headerHeight: 160px;
.table-wrapper {
  border-radius: 7px;
  overflow-x: auto;
  height: calc(100vh - $headerHeight - $navbarHeight);
}

mat-table {
  mat-header-cell {
    font-weight: 600;
    font-size: 0.9em;
  }

  .character-column {
    max-width: 60px;
    padding: 0px;
  }

  .pinyin-column {
    font-family: "Ubuntu Mono";
  }

  .meaning-column {
    font-size: 0.9em;
  }

  mat-row {
    &.selected {
      background-color: #656565;
    }

    &.archived {
      font-style: italic;
      color: #979797;
    }
  }
}

mat-form-field {
  width: 100%;
}

mat-paginator {
  position: sticky;
  bottom: 0;
}

.card-selected-message {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  text-align: center;

  span {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color-darker);
    font-weight: bold;
    border-radius: 3px;
  }
}
