.page-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.7em;
  border-bottom: solid 1px #343434;

  .collection-name {
    font-family: var(--font-title);
    font-size: large;
    font-weight: 500;
  }

  .filler {
    flex: 1;
  }

  .card-count {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: small;
    padding: 0.3em 0.8em;
    border-radius: 5px;
  }
}

.search-icon-wrapper {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}

.table-wrapper {
  border-radius: 7px;
  overflow: hidden;
}

mat-table {
  mat-cell {
    font-size: 1.2em;
  }

  mat-header-cell {
    font-weight: 600;
    font-size: 0.9em;
  }

  .character-column {
    max-width: 60px;
    padding: 0px;
  }

  .pinyin-column {
    font-family: "Ubuntu Mono";
  }

  .meaning-column {
    font-size: 0.9em;
  }
}

mat-form-field {
  width: 100%;
}

mat-paginator {
  position: sticky;
  bottom: 0;
}
