$roundedRadius: 10px;
$sharpRadius: 2px;

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color, #2d3132);
  border-radius: $roundedRadius $sharpRadius $roundedRadius $sharpRadius;
  padding: 1rem 1.2rem;
  gap: 0.5rem;

  &.reversed {
    border-radius: $sharpRadius $roundedRadius $sharpRadius $roundedRadius;
  }
}

.header {
  display: flex;

  .title {
    font-size: 1.2em;
    font-weight: 500;
  }

  .header-end {
    flex: 1;
  }
}

.subtitle {
  color: #7f7f7f;
  font-size: small;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.hide-empty:empty {
  display: none;
}
