<div class="container" [ngClass]="{ reversed: reversedCorners() }">
  @if (!noHeader()) {
    <div class="header">
      <div class="title hide-empty">
        <ng-content select="[card-title]" />
      </div>
      <div class="header-end hide-empty">
        <ng-content select="[card-header-end]" />
      </div>
    </div>
  }

  <div class="subtitle hide-empty">
    <ng-content select="[card-subtitle]" />
  </div>

  <div class="hide-empty">
    <ng-content select="[card-content]" />
  </div>

  <div class="actions hide-empty">
    <ng-content select="[card-actions]" />
  </div>
</div>
