<mat-form-field subscriptSizing="dynamic">
  <mat-label>Pinyin</mat-label>
  <input
    class="pinyin-field"
    matInput
    [ngModel]="fieldValue"
    (ngModelChange)="updateValue($event)"
    [readonly]="virtualKeyboardOpen"
  />
  <button mat-icon-button matSuffix (click)="virtualKeyboardOpen = !virtualKeyboardOpen">
    <fa-icon icon="keyboard" />
  </button>
  @if (virtualKeyboardOpen) {
    <mat-hint>Close the virtual keyboard to edit this field</mat-hint>
  }
</mat-form-field>

@if (virtualKeyboardOpen) {
  <chf-virtual-keyboard
    (typed)="writePinyinCharacter($event)"
    (backspace)="removePinyinCharacter()"
    (submitText)="virtualKeyboardOpen = false"
  />
}
