<chf-button type="primary" (click)="openEditor()">
  <fa-icon icon="add" size="lg" />
  New collection
</chf-button>

@for (collection of collections; track collection) {
  <chf-card>
    <div card-title>{{ collection.label }}</div>
    @if (collection.description) {
      <div card-subtitle>{{ collection.description }}</div>
    }
    <div card-header-end [routerLink]="[collection.id]">
      <div class="card-count">
        {{ collection.cards.length | i18nPlural: cardCountPlural }}
      </div>
      <fa-icon icon="chevron-right" size="lg" />
    </div>
  </chf-card>
}
