.navbar {
  background-color: var(--app-bg-color);
  color: var(--app-fg-color);
  font-family: var(--font-title);
  padding: 0.6rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  img {
    height: 50px;
  }
}

.main {
  font-size: x-large;
  font-weight: 600;
  width: fit-content;
}

.description {
  color: gray;
}
