:host {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

$learnColor: #559d00;
$reviewColor: #9524ff;
$knownColor: #289dd7;

.learn-button {
  --chf-button-bg: #{$learnColor};
}

.review-button {
  --chf-button-bg: #{$reviewColor};
}

.statistic-section {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  font-size: small;

  .to-learn {
    --chf-progress-outer-stroke: #{$learnColor};
    --chf-progress-inner-stroke: #559d007b;
  }

  .to-review {
    --chf-progress-outer-stroke: #{$reviewColor};
    --chf-progress-inner-stroke: #9524ff7b;
  }

  .known {
    --chf-progress-outer-stroke: #{$knownColor};
    --chf-progress-inner-stroke: #289dd77b;
  }
}

.card-actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
