@for (collection of collections; track collection) {
  <chf-card>
    <div card-title>{{ collection.label }}</div>
    @if (collection.description) {
      <div card-subtitle>{{ collection.description }}</div>
    }
    @if (collection.percentStatistics) {
      <div card-content>
        <ng-container
      *ngTemplateOutlet="
        statistics;
        context: {
          numbers: collection.statistics,
          percents: collection.percentStatistics
        }
      "
        />
      <div class="card-actions">
        <chf-button
          class="learn-button"
          [disabled]="!collection.statistics?.toLearn"
          (click)="learn(collection.id)"
          >
          Learn
        </chf-button>
        <chf-button
          class="review-button"
          [disabled]="!collection.statistics?.toReview"
          (click)="review(collection.id)"
          >
          Review
        </chf-button>
      </div>
    </div>
  }
</chf-card>
}

<ng-template #statistics let-numbers="numbers" let-percents="percents">
  <div class="statistic-section">
    <div class="to-learn">
      <chf-card-progress-indicator
        label="To learn"
        [percent]="percents.toLearn"
        [cardCount]="numbers.toLearn"
        />
    </div>
    <div class="to-review">
      <chf-card-progress-indicator
        label="To review"
        [percent]="percents.toReview"
        [cardCount]="numbers.toReview"
        />
    </div>
    <div class="known">
      <chf-card-progress-indicator
        label="Known"
        [percent]="percents.known"
        [cardCount]="numbers.known"
        />
    </div>
  </div>
</ng-template>
