:host {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.statistic-section {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  font-size: small;

  .to-learn {
    --chf-progress-outer-stroke: #01b15b;
    --chf-progress-inner-stroke: #01b15b7b;
  }

  .to-review {
    --chf-progress-outer-stroke: #9524ff;
    --chf-progress-inner-stroke: #9524ff7b;
  }

  .known {
    --chf-progress-outer-stroke: #289dd7;
    --chf-progress-inner-stroke: #289dd77b;
  }
}
