<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title class="title">All collections</mat-card-title>
    <mat-card-subtitle>
      Learn or review cards from all the collections
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="allCollectionStats">
    <ng-container *ngTemplateOutlet="statistics; context: allCollectionStats" />
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      routerLink="all/learn"
      [disabled]="!allCollectionStats?.numbers?.toLearn"
    >
      Learn
    </button>
    <button mat-button [disabled]="!allCollectionStats?.numbers?.toReview">
      Review
    </button>
  </mat-card-actions>
</mat-card>

<mat-card *ngFor="let collection of collections" appearance="outlined">
  <mat-card-header>
    <mat-card-title class="title">{{ collection.label }}</mat-card-title>
    <mat-card-subtitle *ngIf="collection.description">
      {{ collection.description }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="collection.percentStatistics">
    <ng-container
      *ngTemplateOutlet="
        statistics;
        context: {
          numbers: collection.statistics,
          percents: collection.percentStatistics
        }
      "
    />
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      (click)="learn(collection.id)"
      [disabled]="!collection.statistics?.toLearn"
    >
      Learn
    </button>
    <button
      mat-button
      (click)="review(collection.id)"
      [disabled]="!collection.statistics?.toReview"
    >
      Review
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #statistics let-numbers="numbers" let-percents="percents">
  <div class="statistic-section">
    <div class="statistic">
      <div class="label">To learn</div>
      <div class="progress-spinner to-learn">
        <mat-progress-spinner
          color="primary"
          mode="determinate"
          [diameter]="50"
          [value]="percents.toLearn"
        />
        <div class="inner-text">
          {{ numbers.toLearn }}
        </div>
      </div>
    </div>
    <div class="statistic">
      <div class="label">To review</div>
      <div class="progress-spinner to-review">
        <mat-progress-spinner
          color="primary"
          mode="determinate"
          [diameter]="50"
          [value]="percents.toReview"
        />
        <div class="inner-text">
          {{ numbers.toReview }}
        </div>
      </div>
    </div>
    <div class="statistic">
      <div class="label">Known</div>
      <div class="progress-spinner known">
        <mat-progress-spinner
          color="primary"
          mode="determinate"
          [diameter]="50"
          [value]="percents.known"
        />
        <div class="inner-text">
          {{ numbers.known }}
        </div>
      </div>
    </div>
  </div>
</ng-template>
