<chf-card *ngFor="let collection of collections">
  <div card-title>{{ collection.label }}</div>
  <div card-subtitle>{{ collection.description }}</div>
  <div card-content *ngIf="collection.percentStatistics">
    <ng-container
      *ngTemplateOutlet="
        statistics;
        context: {
          numbers: collection.statistics,
          percents: collection.percentStatistics
        }
      "
    />
  </div>
  <div>
    <!-- TODO Buttons-->
    <button
      mat-button
      (click)="learn(collection.id)"
      [disabled]="!collection.statistics?.toLearn"
    >
      Learn
    </button>
    <button
      mat-button
      (click)="review(collection.id)"
      [disabled]="!collection.statistics?.toReview"
    >
      Review
    </button>
  </div>
</chf-card>

<ng-template #statistics let-numbers="numbers" let-percents="percents">
  <div class="statistic-section">
    <div class="to-learn">
      <chf-card-progress-indicator
        label="To learn"
        [percent]="percents.toLearn"
        [cardCount]="numbers.toLearn"
      />
    </div>
    <div class="to-review">
      <chf-card-progress-indicator
        label="To review"
        [percent]="percents.toReview"
        [cardCount]="numbers.toReview"
      />
    </div>
    <div class="known">
      <chf-card-progress-indicator
        label="Known"
        [percent]="percents.known"
        [cardCount]="numbers.known"
      />
    </div>
  </div>
</ng-template>
