:host {
  font-size: 0.9rem;
}

.setting-group {
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  chf-button {
    width: fit-content;
  }

  .setting {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .label {
      flex: 1;
    }

    .field {
      max-width: 150px;

      mat-form-field {
        width: 100%;
      }
    }
  }

  .title {
    font-size: large;
    font-weight: 500;
    border-bottom: solid 1px gray;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    font-family: var(--font-title);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.dimmed {
      color: gray;
    }
  }
}

.field-with-ext-hint {
  margin-bottom: 1rem;

  div {
    font-size: small;
    margin-top: 0.7rem;
  }
}

.about-info {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
