.setting-group {
  margin-bottom: 2rem;
}

.title {
  font-size: large;
  font-weight: 500;
  border-bottom: solid 1px gray;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

.field-with-ext-hint {
  div {
    font-size: small;
    margin-top: 0.7rem;
  }
}
