<form [formGroup]="form">
  <div class="setting-group">
    <div class="title">Learning sessions</div>

    <div class="setting">
      <div class="label">Words per session</div>
      <div class="field">
        <mat-form-field subscriptSizing="dynamic">
          <mat-select formControlName="wordsPerSession">
            <mat-option *ngFor="let words of wordsOptions" [value]="words">
              {{ words }} words
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="setting">
      <div class="label">Enable "Matching mode" for review sessions</div>
      <div class="field">
        <chf-slide-toggle formControlName="enableReviewMatching" />
      </div>
    </div>
  </div>

  <div class="setting-group">
    <div class="title">Card collections</div>

    <div class="setting">
      <div class="label">Cards per page</div>
      <div class="field">
        <mat-form-field subscriptSizing="dynamic">
          <mat-select formControlName="pageSize">
            <mat-option *ngFor="let size of pageOptions" [value]="size">
              {{ size }} cards
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="setting">
      <div class="label">Reset progress when a card is updated</div>
      <div class="field">
        <chf-slide-toggle formControlName="resetCardProgress" />
      </div>
    </div>
  </div>
</form>

<div class="setting-group">
  <div class="title">Backup</div>
  <chf-button (click)="exportToJSON()">Download a backup file</chf-button>
</div>

<div class="setting-group" *ngIf="!isProductionEnv">
  <div class="title">Development options</div>
  <chf-button type="error" (click)="deleteDatabase()">Delete database</chf-button>
</div>

<div class="setting-group">
  <div class="title">About</div>
  <div class="about-info">
    <div>App version: {{ appVersion }}</div>
    <div>License: {{ appLicense }}</div>
  </div>
</div>
