@if (isDeleteConfirm) {
  <div mat-dialog-content>
    <chf-inline-confirm-dialog
      cancelText="Forget it"
      confirmText="Delete the collection"
      confirmType="error"
      (cancelled)="isDeleteConfirm = false"
      (confirmed)="deleteCollection()"
    >
      <span title>Delete the collection and all its cards?</span>
      <span detail>
        This is a permanent action. You will not be able to restore the collection or its
        cards.
      </span>
    </chf-inline-confirm-dialog>
  </div>
} @else {
  <div class="dialog-content">
    <div mat-dialog-title>
      <div>{{ texts.title }}</div>

      @if (collectionId) {
        <chf-button type="error" (click)="isDeleteConfirm = true">
          <fa-icon icon="trash" />
          Delete
        </chf-button>
      }
    </div>

    <div mat-dialog-content>
      <form [formGroup]="form">
        <mat-form-field hideRequiredMarker>
          <mat-label>Label</mat-label>
          <input matInput formControlName="label" />
          <mat-error>
            <chf-form-error-messages [errors]="form.controls.label.errors" />
          </mat-error>
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Description (optional)</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
      </form>
    </div>

    <div mat-dialog-actions>
      <chf-button mat-dialog-close cdkFocusInitial>
        <fa-icon icon="close" />
        Cancel
      </chf-button>

      <chf-button type="primary" (click)="saveCollection()">
        <fa-icon icon="check" />
        {{ texts.save }}
      </chf-button>
    </div>
  </div>
}
