mat-form-field,
chf-pinyin-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

mat-slide-toggle {
  margin-bottom: 1rem;
}

.duplicate-warning {
  background-color: #181818;
  font-size: small;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;

  .duplicate-card-wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      gap: 1rem;
    }

    span {
      font-weight: bold;
    }
  }
}
