<div mat-dialog-title>
  <div>{{ texts.title }}</div>
  <chf-button mat-dialog-close>
    <fa-icon [icon]="icons.cancel" />
    Cancel
  </chf-button>
</div>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Meanings</mat-label>
      <input matInput formControlName="meaning" />
      <mat-hint>Separate meanings with « ; » </mat-hint>
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Chinese characters</mat-label>
      <input matInput formControlName="chinese" />
    </mat-form-field>

    <chf-pinyin-form-field formControlName="pinyin" />
  </form>

  <div *ngIf="cardDuplicate" class="duplicate-warning">
    A card with this meaning already exists:
    <div class="duplicate-card-wrapper">
      <div>
        <span>Meanings</span>
        {{ cardDuplicate.meanings | join : " ; " }}
      </div>
      <div *ngIf="cardDuplicate.characters">
        <span>Characters</span> {{ cardDuplicate.characters }}
      </div>
      <div *ngIf="cardDuplicate.pinyin">
        <span>Pinyin</span> {{ cardDuplicate.pinyin }}
      </div>
    </div>
  </div>

  <mat-checkbox [(ngModel)]="keepEditorOpen" *ngIf="creationMode">
    Add another card after this one
  </mat-checkbox>

  <p class="reset-warning" *ngIf="!creationMode">
    Changing the characters or pinyin fields will automatically reset the progress.
  </p>
</div>

<div mat-dialog-actions>
  <chf-button type="primary" (click)="saveCard()">
    <fa-icon [icon]="icons.save" />
    {{ texts.save }}
  </chf-button>
</div>
