html,
body {
  height: 100%;
}
body {
  margin: 0;
}

mat-card-actions {
  border-top: solid 1px #4e4e4e;
  margin-top: 1rem;
}

.chf-pinyin-font {
  font-family: var(--font-pinyin);
}

chf-session-launcher {
  .to-learn .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #2fc595;
  }

  .to-review .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #942ce3;
  }

  .known .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #4d5bff;
  }
}

// Snackbar colors

.chf-notification-error {
  --mdc-snackbar-container-color: #8b0000;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
}

.chf-notification-info {
  --mdc-snackbar-container-color: #1c395e;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
}

// Components
.chf-message-box {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  background-color: #1e1e1e;

  color: white;
  font-size: 0.9rem;

  &.chf-warning {
    background-color: rgba($color: red, $alpha: 0.2);
  }
}
