@switch (openedConfirmDialog) {
  @case ("delete") {
    <div mat-dialog-content>
      <chf-inline-confirm-dialog
        cancelText="Forget it"
        confirmText="Delete the card"
        confirmType="error"
        (cancelled)="openedConfirmDialog = undefined"
        (confirmed)="deleteCard()"
      >
        <span title>Delete the card?</span>
        <span detail>
          This is a permanent action. You will not be able to restore the card.
        </span>
      </chf-inline-confirm-dialog>
    </div>
  }

  @case ("reset") {
    <div mat-dialog-content>
      <chf-inline-confirm-dialog
        cancelText="Forget it"
        confirmText="Reset progress"
        confirmType="primary"
        (cancelled)="openedConfirmDialog = undefined"
        (confirmed)="resetProgress()"
      >
        <span title>Reset card progress?</span>
        <span detail> The card will reset to its first learning stage. </span>
      </chf-inline-confirm-dialog>
    </div>
  }

  @case ("archive") {
    <div mat-dialog-content>
      <chf-inline-confirm-dialog
        cancelText="Forget it"
        confirmText="Confirm"
        confirmType="primary"
        (cancelled)="openedConfirmDialog = undefined"
        (confirmed)="toggleArchivedCard()"
      >
        <span title>
          @if (card.archived) {
            Unarchive the card
          } @else {
            Archive the card
          }
        </span>
        <span detail>
          @if (card.archived) {
            The card will appear during review sessions based on its last learning
            progress.
          } @else {
            The card will always be considered as known and won't appear in review
            sessions anymore.
          }
        </span>
      </chf-inline-confirm-dialog>
    </div>
  }

  @default {
    @if (!isEditActive) {
      <div>
        <div mat-dialog-title>
          <div>
            Card
            @if (card.archived) {
              <fa-icon icon="box" />
            }
          </div>
          <chf-button
            type="error"
            icon="trash"
            text="Delete"
            (click)="openedConfirmDialog = 'delete'"
          />
        </div>

        <div mat-dialog-content>
          <div>
            <chf-card noHeader>
              <div card-content>
                <div [innerHTML]="card.meanings | cardMeanings"></div>
                <mat-divider />
                <div class="characters">{{ card.characters }}</div>
                <div class="chf-pinyin-font">{{ card.pinyin }}</div>
              </div>
            </chf-card>
          </div>

          <div>
            <div class="section-title">Card difficulty</div>
            <chf-card-difficulty [difficulty]="card.difficulty" />
          </div>

          <div>
            <div class="section-title">Learning progress</div>
            @if (!card.archived) {
              <div class="learning-progress">
                <chf-card-progress-bar [card]="card" />
                <chf-button icon="rotate-left" (click)="openedConfirmDialog = 'reset'" />
              </div>
            }
            <div class="archive-button">
              @if (card.archived) {
                <chf-button
                  icon="box-open"
                  text="Unarchive card"
                  (click)="openedConfirmDialog = 'archive'"
                />
              } @else {
                <chf-button
                  icon="box"
                  text="Archive card"
                  (click)="openedConfirmDialog = 'archive'"
                />
              }
            </div>
          </div>
        </div>

        <div mat-dialog-actions>
          <div class="card-actions">
            <chf-button icon="close" text="Close" mat-dialog-close />
            <chf-button type="primary" icon="edit" text="Edit" (click)="editCard()" />
          </div>
        </div>
      </div>
    }
  }
}
