div[mat-dialog-title] {
  fa-icon {
    margin-left: 0.5rem;
  }
}

chf-card {
  --card-bg-color: #1c1c1c;
  width: 60vw;
  max-width: 80%;
  margin-bottom: 1rem;

  div[card-content] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    mat-divider {
      width: 70%;
    }
  }
}

.characters {
  font-size: large;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  // margin-top: 1.5rem;
}

.section-title {
  padding-bottom: 0.2rem;
  border-bottom: solid 1px #6c6c6c;
  font-family: var(--font-title);
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.learning-progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  chf-card-progress-bar {
    width: 100%;
  }
}

.archive-button {
  width: fit-content;
  margin: 0.5rem auto 0 auto;
}
