<div mat-dialog-title>
  <div>{{ texts.title }}</div>
</div>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Meanings</mat-label>
      <input matInput formControlName="meaning" />
      <mat-hint>Separate meanings with « ; » </mat-hint>

      @if (cardDuplicate) {
        <button
          class="btn-warning-duplicate"
          mat-icon-button
          matSuffix
          (click)="duplicateMessageVisible = !duplicateMessageVisible"
        >
          <fa-icon icon="triangle-exclamation" />
        </button>
      }
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Chinese characters</mat-label>
      <input matInput formControlName="chinese" />
    </mat-form-field>

    <chf-pinyin-form-field formControlName="pinyin" />
  </form>

  @if (cardDuplicate && duplicateMessageVisible) {
    <div class="duplicate-warning">
      A card with this meaning already exists:
      <div class="duplicate-card-wrapper">
        <div>
          <span>Meanings</span>
          {{ cardDuplicate.meanings | join: " ; " }}
        </div>
        @if (cardDuplicate.characters) {
          <span>Characters</span> {{ cardDuplicate.characters }}
        }
        @if (cardDuplicate.pinyin) {
          <span>Pinyin</span> {{ cardDuplicate.pinyin }}
        }
      </div>
    </div>
  }

  @if (creationMode) {
    <mat-checkbox [(ngModel)]="keepEditorOpen">
      Add another card after this one
    </mat-checkbox>
  } @else {
    <p class="reset-warning">
      Changing the characters or pinyin fields will automatically reset the progress.
    </p>
  }
</div>

<div mat-dialog-actions>
  <chf-button mat-dialog-close>
    <fa-icon icon="close" />
    Cancel
  </chf-button>

  <chf-button type="primary" icon="check" [text]="texts.save" (click)="saveCard()" />
</div>
