:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-container {
  flex: 1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
}

chf-tab-bar {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100vw;
}
