button {
  background-color: var(--chf-button-bg, var(--button-color));
  color: var(--chf-button-fg, white);
  padding: 0.7em 1em;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: var(--font-title);
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.disabled {
    background-color: #646464;
    color: #9d9d9d;
  }
}

.cta {
  text-transform: uppercase;
}

.default {
  --button-color: var(--default-color);
}

.primary {
  --button-color: var(--primary-color);
}

.error {
  --button-color: var(--error-color);
}
