$sliderHeight: 30px;
$rounderBorder: 20px;
$sliderCircleSize: calc($sliderHeight - 8px);

.slider {
  display: flex;
  height: $sliderHeight;
  width: 55px;
  background-color: #22262d;
  border-radius: $rounderBorder;
  padding: 0px 5px;
  align-items: center;

  .circle {
    height: $sliderCircleSize;
    width: $sliderCircleSize;
    background-color: #5c5c5c;
    border-radius: $rounderBorder;
  }

  .text {
    font-size: 0.7rem;
    padding: 0 0.5rem;
  }

  &.active {
    background-color: var(--primary-color-darker);
    flex-direction: row-reverse;

    .circle {
      background-color: var(--primary-color);
    }
  }
}
