@import "theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Raleway, Roboto, "Helvetica Neue", sans-serif;
}

.pinyin-font {
  font-family: "Ubuntu Mono";
}

chf-session-launcher {
  .to-learn .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: red;
  }

  .to-review .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: yellow;
  }

  .known .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: green;
  }
}
