# Simple workflow for deploying static content to GitHub Pages
name: Prepare for Netlify

on:
  push:
    branches: ["master"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build static files
        run: npm run build
      - name: Copy build to Netlify
        run: |
          git checkout -b netlify
          cp -r dist/* .
          git add .
          git commit -m "Update build artifacts [skip ci]" || echo "No changes to commit"
          git push origin netlify --force
